In [343]:
import math
import pandas as pd
from pandas import DataFrame
from scipy.stats import f,t

## Exercise1

$H_0: \mu _1 = \mu _2 = \mu _3 = \mu _4$ <br/>
$H_1: \mu _1 \neq \mu _2 \neq \mu _3 \neq \mu _4 $ <br/>

In [344]:
data = pd.read_excel('7_1.xls')
sum1 = data.machine1.sum()
count1 = data.machine1.count()
mean1 = data.machine1.mean()
sum2 = data.machine2.sum()
count2 = data.machine2.count()
mean2 = data.machine2.mean()
sum3 = data.machine3.sum()
count3 = data.machine3.count()
mean3 = data.machine3.mean()
sum4 = data.machine4.sum()
count4 = data.machine4.count()
mean4 = data.machine4.mean()

(sum1,sum2,sum3,sum4)

(16.119999999999997, 24.009999999999998, 19.870000000000001, 16.02)

In [345]:
(count1,count2,count3,count4)

(4, 6, 5, 4)

In [346]:
total_count = count1+count2+count3+count4
total_count

19

In [347]:
(mean1,mean2,mean3,mean4)

(4.0299999999999994, 4.001666666666666, 3.9740000000000002, 4.0049999999999999)

In [348]:
(data.machine1.var(),data.machine2.var(),data.machine3.var(),data.machine4.var())

(0.0003333333333333369,
 0.00013666666666666086,
 0.00032999999999999702,
 0.00016666666666665956)

In [349]:
total_mean = (sum1+sum2+sum3+sum4)/total_count
total_mean

4.001052631578947

In [350]:
ss_group = count1*(mean1-total_mean)**2+count2*(mean2-total_mean)**2 +count3*(mean3-total_mean)**2 +count4*(mean4-total_mean)**2
ss_group

0.0070756140350875102

In [351]:
ms_group = ss_group/(3)
ms_group

0.0023585380116958369

In [352]:
ss_inside = (count1-1)*data.machine1.var() + (count2-1)*data.machine2.var()+(count3-1)*data.machine3.var()+(count4-1)*data.machine4.var()
ss_inside

0.003503333333333282

In [353]:
ms_inside = ss_inside/(total_count-4)
ms_inside

0.00023355555555555212

In [354]:
f_value = ms_group/ms_inside
f_value

10.098402523911915

In [355]:
f_distribute = f(3,15)
(f_distribute.ppf(0.05),f_distribute.ppf(1-0.05))

(0.11490462163628182, 3.2873821046365115)

In [356]:
f_distribute.ppf(0.90)

2.4897877338778138

In [357]:
f_distribute.sf(f_value)

0.00068533544064767853

In [358]:
Relationship = ms_group/(ms_group+ms_inside)
Relationship

0.90989694256939568

## Exercise2

In [359]:
data = pd.read_excel('7_2.xls')
n= data.notnull().sum().sum()
n

18

In [360]:
statics_df = DataFrame()
statics_df['mean']=data.mean()
statics_df['count']=data.count()
statics_df['sum']=data.sum()
statics_df['var']=data.var()
statics_df['sumdiff']=data.var()*(statics_df['count']-1)
statics_df

           mean  count   sum       var    sumdiff
高级管理者  7.600000      5  38.0  0.800000   3.200000
中级管理者  8.857143      7  62.0  0.809524   4.857143
低级管理者  5.833333      6  35.0  2.166667  10.833333

In [361]:
statics_df.shape[0]

3

In [362]:
total_mean = statics_df['sum'].sum()/statics_df['count'].sum()
total_mean

7.5

In [363]:
between_group_ss = (statics_df['count']*(statics_df['mean'] - total_mean)**2).sum()
between_group_ss

29.609523809523822

In [364]:
ms_between_group = between_group_ss/(statics_df.shape[0]-1)
ms_between_group

14.804761904761911

In [365]:
inside_group_ss = statics_df['sumdiff'].sum()
inside_group_ss

18.890476190476189

In [366]:
ms_inside_group = inside_group_ss/(n-statics_df.shape[0])
ms_inside_group

1.2593650793650792

In [367]:
f_value= ms_between_group/ms_inside_group
f_value

11.755734812200661

In [368]:
f_distribute = f(statics_df.shape[0]-1,n - statics_df.shape[0])
f_distribute.isf(0.05)

3.6823203436732412

In [369]:
f_distribute.sf(f_value)

0.00084870889432867198

## Exercise3

In [370]:
data = pd.read_excel('7_3.xls',skiprows=1,index_col=0)
data
n= data.notnull().sum().sum()
n

15

In [371]:
statics_df = DataFrame()
statics_df['mean']=data.mean()
statics_df['count']=data.count()
statics_df['sum']=data.sum()
statics_df['var']=data.var()
statics_df['sumdiff']=data.var()*(statics_df['count']-1)
statics_df

   mean  count  sum   var  sumdiff
A  44.4      5  222  28.3    113.2
B  30.0      5  150  10.0     40.0
C  42.6      5  213  15.8     63.2

In [372]:
total_mean = statics_df['sum'].sum()/statics_df['count'].sum()
total_mean

39.0

In [373]:
total_mean = statics_df['sum'].sum()/statics_df['count'].sum()
total_mean

39.0

In [374]:
ms_between_group = between_group_ss/(statics_df.shape[0]-1)
ms_between_group

14.804761904761911

In [375]:
ms_between_group = between_group_ss/(statics_df.shape[0]-1)
ms_between_group

14.804761904761911

In [376]:
ms_inside_group = inside_group_ss/(n-statics_df.shape[0])
ms_inside_group

1.5742063492063492

In [377]:
f_value= ms_between_group/ms_inside_group
f_value

9.404587849760528

In [378]:
f_distribute = f(statics_df.shape[0]-1,n - statics_df.shape[0])
f_distribute.isf(0.05)

3.8852938346523933

In [379]:
f_distribute.sf(f_value)

0.0034914594527431946

In [380]:
t_distribute = t(n-statics_df.shape[0])
t_value = t_distribute.isf(0.025)
LSD = t_value*math.sqrt(t_value*(1/statics_df.shape[1]+1/statics_df.shape[1]))
LSD

2.0340418373972753

In [381]:
(statics_df['mean']['A']-statics_df['mean']['B'],statics_df['mean']['A']-statics_df['mean']['C'],statics_df['mean']['B'] -statics_df['mean']['C'])

(14.399999999999999, 1.7999999999999972, -12.600000000000001)