In [74]:
import math
import pandas as pd
import numpy as np
from pandas import DataFrame
from scipy.stats import f,t
from statsstudy.ANOVA import SingleAnalysisVariance,TwoFactorNonRepeatAnalysisVariance,TwoFactorRepeatAnalysisVariance

## Exercise1

$H_0: \mu _1 = \mu _2 = \mu _3 = \mu _4$ <br/>
$H_1: \mu _1 \neq \mu _2 \neq \mu _3 \neq \mu _4 $ <br/>

In [75]:
data = pd.read_excel('7_1.xls')
sum1 = data.machine1.sum()
count1 = data.machine1.count()
mean1 = data.machine1.mean()
sum2 = data.machine2.sum()
count2 = data.machine2.count()
mean2 = data.machine2.mean()
sum3 = data.machine3.sum()
count3 = data.machine3.count()
mean3 = data.machine3.mean()
sum4 = data.machine4.sum()
count4 = data.machine4.count()
mean4 = data.machine4.mean()

(sum1,sum2,sum3,sum4)

(16.119999999999997, 24.009999999999998, 19.870000000000001, 16.02)

In [76]:
(count1,count2,count3,count4)

(4, 6, 5, 4)

In [77]:
total_count = count1+count2+count3+count4
total_count

19

In [78]:
(mean1,mean2,mean3,mean4)

(4.0299999999999994, 4.001666666666666, 3.9740000000000002, 4.0049999999999999)

In [79]:
(data.machine1.var(),data.machine2.var(),data.machine3.var(),data.machine4.var())

(0.0003333333333333369,
 0.00013666666666666086,
 0.00032999999999999702,
 0.00016666666666665956)

In [80]:
total_mean = (sum1+sum2+sum3+sum4)/total_count
total_mean

4.001052631578947

In [81]:
ss_group = count1*(mean1-total_mean)**2+count2*(mean2-total_mean)**2 +count3*(mean3-total_mean)**2 +count4*(mean4-total_mean)**2
ss_group

0.0070756140350875102

In [82]:
ms_group = ss_group/(3)
ms_group

0.0023585380116958369

In [83]:
ss_inside = (count1-1)*data.machine1.var() + (count2-1)*data.machine2.var()+(count3-1)*data.machine3.var()+(count4-1)*data.machine4.var()
ss_inside

0.003503333333333282

In [84]:
ms_inside = ss_inside/(total_count-4)
ms_inside

0.00023355555555555212

In [85]:
f_value = ms_group/ms_inside
f_value

10.098402523911915

In [86]:
f_distribute = f(3,15)
(f_distribute.ppf(0.05),f_distribute.ppf(1-0.05))

(0.11490462163628182, 3.2873821046365115)

In [87]:
f_distribute.ppf(0.90)

2.4897877338778138

In [88]:
f_distribute.sf(f_value)

0.00068533544064767853

In [89]:
Relationship = ms_group/(ms_group+ms_inside)
Relationship

0.90989694256939568

## Exercise2

In [90]:
data = pd.read_excel('7_2.xls')
n= data.notnull().sum().sum()
n

18

In [91]:
statics_df = DataFrame()
statics_df['mean']=data.mean()
statics_df['count']=data.count()
statics_df['sum']=data.sum()
statics_df['var']=data.var()
statics_df['sumdiff']=data.var()*(statics_df['count']-1)
statics_df

           mean  count   sum       var    sumdiff
高级管理者  7.600000      5  38.0  0.800000   3.200000
中级管理者  8.857143      7  62.0  0.809524   4.857143
低级管理者  5.833333      6  35.0  2.166667  10.833333

In [92]:
statics_df.shape[0]

3

In [93]:
total_mean = statics_df['sum'].sum()/statics_df['count'].sum()
total_mean

7.5

In [94]:
between_group_ss = (statics_df['count']*(statics_df['mean'] - total_mean)**2).sum()
between_group_ss

29.609523809523822

In [95]:
ms_between_group = between_group_ss/(statics_df.shape[0]-1)
ms_between_group

14.804761904761911

In [96]:
inside_group_ss = statics_df['sumdiff'].sum()
inside_group_ss

18.890476190476189

In [97]:
ms_inside_group = inside_group_ss/(n-statics_df.shape[0])
ms_inside_group

1.2593650793650792

In [98]:
f_value= ms_between_group/ms_inside_group
f_value

11.755734812200661

In [99]:
f_distribute = f(statics_df.shape[0]-1,n - statics_df.shape[0])
f_distribute.isf(0.05)

3.6823203436732412

In [100]:
f_distribute.sf(f_value)

0.00084870889432867198

## Exercise3

In [101]:
data = pd.read_excel('7_3.xls',skiprows=1,index_col=0)
ea3 = SingleAnalysisVariance(data) # ea mean exercise analysis

In [102]:
ea3.printInfo()

n:15
k:3
total mean:39.0
between group ss:615.6
ms between group:307.8
inside group ss:216.4
ms inside group:18.0333333333
f:17.0683918669
p value:0.000309601874063
f crit:3.88529383465

In [103]:
ea3.statistics_info

   mean  count  sum   var  sumdiff
A  44.4      5  222  28.3    113.2
B  30.0      5  150  10.0     40.0
C  42.6      5  213  15.8     63.2

## Exercise5

In [104]:
data = pd.read_excel('7_5.xls',skiprows=1,index_col=0)
data

      1     2     3     4
1  12.0   9.5  10.4   9.7
2  13.7  11.5  12.4   9.6
3  14.3  12.3  11.4  11.1
4  14.2  14.0  12.5  12.0
5  13.0  14.0  13.1  11.4

In [105]:
ea5 = TwoFactorNonRepeatAnalysisVariance(data)
ea5.printInfo()

r:4
k:5
line ss:19.067
line ms:4.76675
line f:7.23971649158
line p value:0.00331519021732
line f crit:3.2591667269
column between group ss:18.1815
column ms between group:6.0605
column f:9.20465763827
column p value:0.00194910982013
columnne f crit:3.4902948195
error between group ss:7.901
error ms between group:0.658416666667

In [106]:
ea5.c_statistics_info

    mean  count   sum    var  sumdiff
1  13.44      5  67.2  0.913    3.652
2  12.26      5  61.3  3.563   14.252
3  11.96      5  59.8  1.133    4.532
4  10.76      5  53.8  1.133    4.532

In [107]:
ea5.l_statistics_info

     mean  count   sum       var  sumdiff
1  10.400      4  41.6  1.286667   3.8600
2  11.800      4  47.2  2.966667   8.9000
3  12.275      4  49.1  2.082500   6.2475
4  13.175      4  52.7  1.189167   3.5675
5  12.875      4  51.5  1.169167   3.5075

## Exercise 6

In [108]:
data = pd.read_excel('7_6.xls')
data
data.reset_index(level=0, inplace=True)
data.fillna(method='ffill',inplace=True)
data = data.set_index('index')
data

       road1  road2  road3
index
高峰期     36.5   28.1   32.4
高峰期     34.1   29.9   33.0
高峰期     37.2   32.2   36.2
高峰期     35.6   31.5   35.5
高峰期     38.0   30.1   35.1
非高峰期    30.6   27.6   31.8
非高峰期    27.9   24.3   28.0
非高峰期    32.4   22.0   26.7
非高峰期    31.8   25.4   29.3
非高峰期    27.3   21.7   25.6

In [109]:
es6 = TwoFactorRepeatAnalysisVariance(data,5)
es6.printInfo()

r:3
s:2
t:5
line ss:288.3
line ms:288.3
line f:70.3313681643
line p value:1.35577900759e-08
line f crit:4.25967727269
column between group ss:180.514666667
column ms between group:90.2573333333
column f:22.0184590364
column p value:3.71192597963e-06
columnne f crit:3.40282610535
corr between group ss:0.024
corr ms between group:0.012
corr f:0.00292742427323
corr p value:0.997077212429
corr f crit:3.40282610535
error between group ss:98.38
error ms between group:4.09916666667

## Exercise 7

In [110]:
data = pd.read_excel('7_7.xls')
data
data.reset_index(level=0, inplace=True)
data.fillna(method='ffill',inplace=True)
data = data.set_index('index')
data

       报纸  电视
index
A       8  12
A      12   8
B      22  26
B      14  30
C      10  18
C      18  14

In [111]:
es7 = TwoFactorRepeatAnalysisVariance(data,2)
es7.printInfo()

r:2
s:3
t:2
line ss:344.0
line ms:172.0
line f:10.75
line p value:0.0103861758077
line f crit:5.14325284978
column between group ss:48.0
column ms between group:48.0
column f:3.0
column p value:0.133974596216
columnne f crit:5.98737760727
corr between group ss:56.0
corr ms between group:28.0
corr f:1.75
corr p value:0.251931768479
corr f crit:5.14325284978
error between group ss:96
error ms between group:16.0