In [535]:
import math
import pandas as pd
from scipy.stats import f

## Exercise1

$H_0: \mu _1 = \mu _2 = \mu _3 = \mu _4$ <br/>
$H_1: \mu _1 \neq \mu _2 \neq \mu _3 \neq \mu _4 $ <br/>

In [536]:
data = pd.read_excel('7_1.xls')
sum1 = data.machine1.sum()
count1 = data.machine1.count()
mean1 = data.machine1.mean()
sum2 = data.machine2.sum()
count2 = data.machine2.count()
mean2 = data.machine2.mean()
sum3 = data.machine3.sum()
count3 = data.machine3.count()
mean3 = data.machine3.mean()
sum4 = data.machine4.sum()
count4 = data.machine4.count()
mean4 = data.machine4.mean()

(sum1,sum2,sum3,sum4)

(16.119999999999997, 24.009999999999998, 19.870000000000001, 16.02)

In [537]:
(count1,count2,count3,count4)

(4, 6, 5, 4)

In [538]:
total_count = count1+count2+count3+count4
total_count

19

In [539]:
(mean1,mean2,mean3,mean4)

(4.0299999999999994, 4.001666666666666, 3.9740000000000002, 4.0049999999999999)

In [540]:
(data.machine1.var(),data.machine2.var(),data.machine3.var(),data.machine4.var())

(0.0003333333333333369,
 0.00013666666666666086,
 0.00032999999999999702,
 0.00016666666666665956)

In [541]:
total_mean = (sum1+sum2+sum3+sum4)/total_count
total_mean

4.001052631578947

In [542]:
ss_group = count1*(mean1-total_mean)**2+count2*(mean2-total_mean)**2 +count3*(mean3-total_mean)**2 +count4*(mean4-total_mean)**2
ss_group

0.0070756140350875102

In [543]:
ms_group = ss_group/(3)
ms_group

0.0023585380116958369

In [544]:
ss_inside = (count1-1)*data.machine1.var() + (count2-1)*data.machine2.var()+(count3-1)*data.machine3.var()+(count4-1)*data.machine4.var()
ss_inside

0.003503333333333282

In [545]:
ms_inside = ss_inside/(total_count-4)
ms_inside

0.00023355555555555212

In [546]:
f_value = ms_group/ms_inside
f_value

10.098402523911915

In [547]:
f_distribute = f(3,15)
(f_distribute.ppf(0.05),f_distribute.ppf(1-0.05))

(0.11490462163628182, 3.2873821046365115)

In [548]:
f_distribute.ppf(0.90)

2.4897877338778138

In [549]:
f_distribute.sf(f_value)

0.00068533544064767853

In [550]:
Relationship = ms_group/(ms_group+ms_inside)
Relationship

0.90989694256939568