In [141]:
import json  
import sqlalchemy
import numpy as np
import pandas as pd
import json
import time
import datetime
from sqlalchemy import Column,Integer,Date,String,select
from sqlalchemy.dialects.postgresql import JSONB
from sqlalchemy import or_,and_,not_,MetaData,exists,text
from sqlalchemy.sql import functions
from pandas import DataFrame


metadata = MetaData()

In [142]:
type(time.time())

float

In [143]:
time.time()

1482388430.9784875

In [144]:
connection_string = 'postgresql://postgres:postgres@192.168.0.107:5432/JsonTest'
db = sqlalchemy.create_engine(connection_string)  
engine = db.connect()  
meta = sqlalchemy.MetaData(engine)  
result = engine.execute("SELECT 1")
result.rowcount

1

In [145]:
j_table = sqlalchemy.Table(
        "json_test",metadata, Column('id', Integer),
        Column('data', JSONB))

Insert date test

In [146]:
date_table = sqlalchemy.Table(
        "test_date", metadata,
        Column('id', Integer),
        Column('stock_id', String),
        Column('stock_date', Date),
        Column('data', JSONB))

if not date_table.exists(engine):
    date_table.create(engine)
    
statement = date_table.insert().values(
        stock_id='60000',
        stock_date=datetime.datetime(2016, 6, 10),
        data={
            "dialect": "params",
            "address": {"street": "Main St.", "zip": 12345},
        },
    )

engine.execute(statement)

SQL test

In [147]:
find_zip = j_table.select().where(
        j_table.c.data[
            ('address', 'zip') # specify the path as a tuple/list of keys
        ].cast(
            sqlalchemy.Integer # zip codes are stored as numbers, cast the query
        ) == 12345) # finally, the zip we're looking for
str(find_zip)

'SELECT json_test.id, json_test.data \nFROM json_test \nWHERE CAST(json_test.data[:data_1] AS INTEGER) = :param_1'

In [148]:
sql = j_table.select().where(j_table.c.data  == '{"a":1}')
str(sql)

'SELECT json_test.id, json_test.data \nFROM json_test \nWHERE json_test.data = :data_1'

In [149]:
sql= j_table.select().where(j_table.c.data.contains('{"a": 1}'))
str(sql)

'SELECT json_test.id, json_test.data \nFROM json_test \nWHERE json_test.data @> :data_1'

In [150]:
sql= j_table.select().where(j_table.c.data.contained_by('{"a": 1}'))
str(sql)

'SELECT json_test.id, json_test.data \nFROM json_test \nWHERE json_test.data <@ :data_1'

In [151]:
sql= j_table.select().where(j_table.c.data.has_all('{"a": 1}'))
str(sql)

'SELECT json_test.id, json_test.data \nFROM json_test \nWHERE json_test.data ?& :data_1'

In [152]:
sql= j_table.select().where(j_table.c.data.has_any('{"a": 1}'))
str(sql)

'SELECT json_test.id, json_test.data \nFROM json_test \nWHERE json_test.data ?| :data_1'

In [153]:
sql= j_table.select().where(j_table.c.data.has_key('{"a": 1}'))
str(sql)

'SELECT json_test.id, json_test.data \nFROM json_test \nWHERE json_test.data ? :data_1'

In [154]:
sql= select([functions.max(date_table.c.stock_date)])
str(sql)

'SELECT max(test_date.stock_date) AS max_1 \nFROM test_date'

In [155]:
main_table = date_table.alias()
sub_table = date_table.alias()
sub_query = not_(exists(select([text('1')]).where(and_(sub_table.c.id == main_table.c.id , sub_table.c.stock_date > main_table.c.stock_date ))))
str(sub_query)

'NOT (EXISTS (SELECT 1 \nFROM test_date AS test_date_1, test_date AS test_date_2 \nWHERE test_date_1.id = test_date_2.id AND test_date_1.stock_date > test_date_2.stock_date))'

In [156]:
main_query = select(['*']).where(and_(sub_table.c.id == "1",sub_query))
str(main_query)

'SELECT * \nFROM test_date AS test_date_1 \nWHERE test_date_1.id = :id_1 AND NOT (EXISTS (SELECT 1 \nFROM test_date AS test_date_2 \nWHERE test_date_1.id = test_date_2.id AND test_date_1.stock_date > test_date_2.stock_date))'

In [165]:
type(engine.execute(main_query))

sqlalchemy.engine.result.ResultProxy

In [158]:
sql= j_table.select().where(and_(j_table.c.data.has_key('{"a": 1}'),j_table.c.data.has_key('{"a": 1}')))

DataFrame support

In [159]:
df = DataFrame(np.arange(9.).reshape((3, 3)),
                columns=list('abc'),
                index=['Ohio', 'Texas', 'Colorado'])
df.to_sql('table_name', engine,if_exists='append')
df

            a    b    c
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [160]:
json_str= df.to_json(orient='index')
json_str

'{"Ohio":{"a":0.0,"b":1.0,"c":2.0},"Texas":{"a":3.0,"b":4.0,"c":5.0},"Colorado":{"a":6.0,"b":7.0,"c":8.0}}'

In [161]:
type(json_str)

str

In [162]:
json_objects = json.loads(json_str)
json_objects
print(type(json_objects))
for entity in json_objects:
    print(entity)
    print(json_objects[entity])

<class 'dict'>
Texas
{'a': 3.0, 'c': 5.0, 'b': 4.0}
Colorado
{'a': 6.0, 'c': 8.0, 'b': 7.0}
Ohio
{'a': 0.0, 'c': 2.0, 'b': 1.0}

In [163]:
json.dumps(json_objects)

'{"Texas": {"a": 3.0, "c": 5.0, "b": 4.0}, "Colorado": {"a": 6.0, "c": 8.0, "b": 7.0}, "Ohio": {"a": 0.0, "c": 2.0, "b": 1.0}}'

In [164]:
pd.read_json(json.dumps(json_objects),orient='index')

          a  b  c
Colorado  6  7  8
Ohio      0  1  2
Texas     3  4  5