In [2]:
import pandas as pd
import tushare as ts
from pandas.util.testing import assert_frame_equal

Basic

In [3]:
df = ts.get_hist_data('600000',start='2000-06-10',end='2000-06-20')
df

Empty DataFrame
Columns: [open, high, close, low, volume, price_change, p_change, ma5, ma10, ma20, v_ma5, v_ma10, v_ma20, turnover]
Index: []

In [4]:
df = df.set_index(df.index.to_datetime())

d:\env\python\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: to_datetime is deprecated. Use pd.to_datetime(...)
  if __name__ == '__main__':

In [5]:
df.to_json('test.json')
df_2= pd.read_json('test.json')
df_2.sort_index(inplace=True,ascending=False)
df_2.set_index(df.index)

Empty DataFrame
Columns: [close, high, low, ma10, ma20, ma5, open, p_change, price_change, turnover, v_ma10, v_ma20, v_ma5, volume]
Index: []

In [6]:
df.sort_index(inplace=True)
df_2.sort_index(inplace=True)
df.sort_index(axis=0).sort_index(axis=1)

Empty DataFrame
Columns: [close, high, low, ma10, ma20, ma5, open, p_change, price_change, turnover, v_ma10, v_ma20, v_ma5, volume]
Index: []

the method really cost time. and the data should be cached first
ts.get_growth_data(2016,1)

In [7]:
ts.set_token('')
#mt = ts.Master()
#mt.TradeCal(exchangeCD='XSHG', beginDate='20150928', endDate='20151010')

test subscription price

In [8]:
df_adj= ts.get_h_data('600000', start='2016-06-10', end='2016-06-20')
df_adj.to_json('test_3.json')
df_adj

[Getting data:]

d:\env\python\lib\site-packages\tushare\stock\trading.py:441: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  df = df.sort('date', ascending=False)

             open   high  close    low      volume       amount
date
2016-06-20  16.47  16.47  16.40  16.30   9681495.0  172507202.0
2016-06-17  16.30  16.52  16.32  16.29  17412233.0  311113072.0
2016-06-16  16.23  16.47  16.35  16.17  30871127.0  549171213.0
2016-06-15  16.18  16.31  16.29  16.12  26332177.0  464557383.0
2016-06-14  16.32  16.38  16.34  16.26  18773357.0  333449719.0
2016-06-13  16.40  16.48  16.33  16.32  30051583.0  536281150.0

In [9]:
df_adj_1=ts.get_h_data('600000', start='2016-06-10', end='2016-06-20', autype='hfq')

[Getting data:]

In [10]:
df_adj_2 =ts.get_h_data('600000', start='2016-06-10', end='2016-06-20', autype=None)

[Getting data:]

In [11]:
df_real= ts.get_hist_data('600000',start='2016-06-10',end='2016-06-20')

In [12]:
test = pd.merge(df_real,df_adj,left_index=True,right_index=True,suffixes=('','_adj'))
test.to_json('test_2.json')
test

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover,open_adj,high_adj,close_adj,low_adj,volume_adj,amount
date,,,,,,,,,,,,,,,,,,,,
2016-06-20,17.93,17.93,17.86,17.75,96814.95,0.09,0.51,17.802,17.884,17.847,206140.78,209274.02,185471.22,0.05,16.47,16.47,16.40,16.30,9681495.0,172507202.0
2016-06-17,17.75,17.99,17.79,17.74,174122.33,-0.01,-0.06,17.784,17.901,17.822,246880.96,217379.05,185820.88,0.09,16.30,16.52,16.32,16.29,17412233.0,311113072.0
2016-06-16,17.67,17.93,17.80,17.60,308711.28,0.06,0.34,17.826,17.942,17.807,259573.09,218279.24,192595.99,0.17,16.23,16.47,16.35,16.17,30871127.0,549171213.0
2016-06-15,17.61,17.76,17.76,17.55,263321.78,-0.03,-0.17,17.868,17.989,17.780,230898.80,223039.63,182043.00,0.14,16.18,16.31,16.29,16.12,26332177.0,464557383.0
2016-06-14,17.77,17.83,17.80,17.70,187733.56,0.02,0.11,17.922,18.009,17.756,213946.94,214245.64,174399.73,0.10,16.32,16.38,16.34,16.26,18773357.0,333449719.0
2016-06-13,17.86,17.94,17.77,17.77,300515.84,-0.22,-1.22,17.966,18.003,17.728,212407.25,207093.53,170519.96,0.16,16.40,16.48,16.33,16.32,30051583.0,536281150.0

stock basic

In [14]:
stock_info = ts.get_stock_basics()
stock_info.to_json('test_stock_info_whole.json')
df=stock_info.head(5)
df.to_json('test_stock_info.json')
df

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
603877,N太平鸟,服饰,浙江,45.81,0.55,4.75,445669.50,328332.25,45125.05,30757.88,...,4.30,7.13,20170109,100412.11,2.11,0.00,0.00,56.29,6.07,52511
601678,滨化股份,化工原料,山东,50.35,11.88,11.88,700574.88,124637.02,383505.53,127384.57,...,4.01,1.97,20100223,190667.50,1.60,-6.83,-59.11,21.80,4.16,45679
601375,中原证券,证券,河南,45.18,7.00,39.24,4080920.00,0.00,0.00,0.00,...,2.49,3.39,20170103,0.00,0.00,-49.48,-56.24,0.00,34.57,602819
600178,东安动力,汽车配件,黑龙江,61.94,4.62,4.62,411945.47,209152.13,28719.20,85994.00,...,3.94,3.26,19981014,25635.60,0.55,116.20,92.67,11.24,4.05,28149
600814,杭州解百,百货,浙江,49.45,3.10,7.15,453870.50,222213.97,100949.13,1428.49,...,2.90,4.32,19940114,122402.63,1.71,-6.20,-20.35,22.75,3.77,28522