In [91]:
import pandas as pd
import tushare as ts
from pandas.util.testing import assert_frame_equal

In [92]:
df = ts.get_hist_data('600000',start='2016-06-10',end='2016-06-20')
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2016-06-20,17.93,17.93,17.86,17.75,96814.95,0.09,0.51,17.802,17.884,17.847,206140.78,209274.02,185471.22,0.05
2016-06-17,17.75,17.99,17.79,17.74,174122.33,-0.01,-0.06,17.784,17.901,17.822,246880.96,217379.05,185820.88,0.09
2016-06-16,17.67,17.93,17.80,17.60,308711.28,0.06,0.34,17.826,17.942,17.807,259573.09,218279.24,192595.99,0.17
2016-06-15,17.61,17.76,17.76,17.55,263321.78,-0.03,-0.17,17.868,17.989,17.780,230898.80,223039.63,182043.00,0.14
2016-06-14,17.77,17.83,17.80,17.70,187733.56,0.02,0.11,17.922,18.009,17.756,213946.94,214245.64,174399.73,0.10
2016-06-13,17.86,17.94,17.77,17.77,300515.84,-0.22,-1.22,17.966,18.003,17.728,212407.25,207093.53,170519.96,0.16

In [93]:
df = df.set_index(df.index.to_datetime())

In [94]:
df.to_json('test.json')
df_2= pd.read_json('test.json')
df_2.sort_index(inplace=True,ascending=False)
df_2.set_index(df.index)

,close,high,low,ma10,ma20,ma5,open,p_change,price_change,turnover,v_ma10,v_ma20,v_ma5,volume
2016-06-20,17.86,17.93,17.75,17.884,17.847,17.802,17.93,0.51,0.09,0.05,209274.02,185471.22,206140.78,96814.95
2016-06-17,17.79,17.99,17.74,17.901,17.822,17.784,17.75,-0.06,-0.01,0.09,217379.05,185820.88,246880.96,174122.33
2016-06-16,17.80,17.93,17.60,17.942,17.807,17.826,17.67,0.34,0.06,0.17,218279.24,192595.99,259573.09,308711.28
2016-06-15,17.76,17.76,17.55,17.989,17.780,17.868,17.61,-0.17,-0.03,0.14,223039.63,182043.00,230898.80,263321.78
2016-06-14,17.80,17.83,17.70,18.009,17.756,17.922,17.77,0.11,0.02,0.10,214245.64,174399.73,213946.94,187733.56
2016-06-13,17.77,17.94,17.77,18.003,17.728,17.966,17.86,-1.22,-0.22,0.16,207093.53,170519.96,212407.25,300515.84

In [95]:
df.sort_index(inplace=True)
df_2.sort_index(inplace=True)
result = assert_frame_equal(df_2.sort_index(axis=0).sort_index(axis=1),df.sort_index(axis=0).sort_index(axis=1))
result

the method really cost time. and the data should be cached first
ts.get_growth_data(2016,1)

In [96]:
ts.set_token('')
#mt = ts.Master()
#mt.TradeCal(exchangeCD='XSHG', beginDate='20150928', endDate='20151010')