In [2]:
import pandas as pd
import tushare as ts
from pandas.util.testing import assert_frame_equal

Basic

In [3]:
df = ts.get_hist_data('600000',start='2000-06-10',end='2000-06-20')
df

Empty DataFrame
Columns: [open, high, close, low, volume, price_change, p_change, ma5, ma10, ma20, v_ma5, v_ma10, v_ma20, turnover]
Index: []

In [4]:
df = df.set_index(df.index.to_datetime())

In [5]:
df.to_json('test.json')
df_2= pd.read_json('test.json')
df_2.sort_index(inplace=True,ascending=False)
df_2.set_index(df.index)

Empty DataFrame
Columns: [close, high, low, ma10, ma20, ma5, open, p_change, price_change, turnover, v_ma10, v_ma20, v_ma5, volume]
Index: []

In [6]:
df.sort_index(inplace=True)
df_2.sort_index(inplace=True)
df.sort_index(axis=0).sort_index(axis=1)

Empty DataFrame
Columns: [close, high, low, ma10, ma20, ma5, open, p_change, price_change, turnover, v_ma10, v_ma20, v_ma5, volume]
Index: []

the method really cost time. and the data should be cached first
ts.get_growth_data(2016,1)

In [7]:
ts.set_token('')
#mt = ts.Master()
#mt.TradeCal(exchangeCD='XSHG', beginDate='20150928', endDate='20151010')

test subscription price

In [8]:
df_adj= ts.get_h_data('600000', start='2016-06-10', end='2016-06-20')
df_adj.to_json('test_3.json')
df_adj

[Getting data:]

h:\python\lib\site-packages\tushare\stock\trading.py:441: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  df = df.sort('date', ascending=False)

             open   high  close    low      volume       amount
date
2016-06-20  16.67  16.67  16.60  16.50   9681495.0  172507202.0
2016-06-17  16.50  16.73  16.52  16.50  17412233.0  311113072.0
2016-06-16  16.43  16.67  16.55  16.37  30871127.0  549171213.0
2016-06-15  16.37  16.51  16.50  16.32  26332177.0  464557383.0
2016-06-14  16.52  16.58  16.54  16.46  18773357.0  333449719.0
2016-06-13  16.61  16.68  16.53  16.52  30051583.0  536281150.0

In [9]:
df_adj_1=ts.get_h_data('600000', start='2016-06-10', end='2016-06-20', autype='hfq')

[Getting data:]

In [10]:
df_adj_2 =ts.get_h_data('600000', start='2016-06-10', end='2016-06-20', autype=None)

[Getting data:]

In [11]:
df_real= ts.get_hist_data('600000',start='2016-06-10',end='2016-06-20')

In [12]:
test = pd.merge(df_real,df_adj,left_index=True,right_index=True,suffixes=('','_adj'))
test.to_json('test_2.json')
test

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover,open_adj,high_adj,close_adj,low_adj,volume_adj,amount
date,,,,,,,,,,,,,,,,,,,,
2016-06-20,17.93,17.93,17.86,17.75,96814.95,0.09,0.51,17.802,17.884,17.847,206140.78,209274.02,185471.22,0.05,16.67,16.67,16.60,16.50,9681495.0,172507202.0
2016-06-17,17.75,17.99,17.79,17.74,174122.33,-0.01,-0.06,17.784,17.901,17.822,246880.96,217379.05,185820.88,0.09,16.50,16.73,16.52,16.50,17412233.0,311113072.0
2016-06-16,17.67,17.93,17.80,17.60,308711.28,0.06,0.34,17.826,17.942,17.807,259573.09,218279.24,192595.99,0.17,16.43,16.67,16.55,16.37,30871127.0,549171213.0
2016-06-15,17.61,17.76,17.76,17.55,263321.78,-0.03,-0.17,17.868,17.989,17.780,230898.80,223039.63,182043.00,0.14,16.37,16.51,16.50,16.32,26332177.0,464557383.0
2016-06-14,17.77,17.83,17.80,17.70,187733.56,0.02,0.11,17.922,18.009,17.756,213946.94,214245.64,174399.73,0.10,16.52,16.58,16.54,16.46,18773357.0,333449719.0
2016-06-13,17.86,17.94,17.77,17.77,300515.84,-0.22,-1.22,17.966,18.003,17.728,212407.25,207093.53,170519.96,0.16,16.61,16.68,16.53,16.52,30051583.0,536281150.0

stock basic

In [13]:
stock_info = ts.get_stock_basics()
df=stock_info.head(5)
df.to_json('test_stock_info.json')
df

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,reservedPerShare,esp,bvps,pb,timeToMarket
code,,,,,,,,,,,,,,,
002812,N创新,广告包装,云南,29.89,3348.00,13388.00,130619.82,71552.60,41611.62,23727.26,1.77,0.564,7.32,4.61,20160914
603189,N网达,软件服务,上海,76.17,5520.00,22080.00,40870.48,38437.19,922.97,4887.31,0.22,0.069,2.13,4.89,20160914
600116,三峡水利,水力发电,重庆,37.72,88800.54,99300.54,454018.06,124531.77,229704.05,74189.63,0.75,0.119,2.33,3.85,19970804
601231,环旭电子,元器件,上海,49.97,217592.34,217592.34,1261242.25,990163.00,194991.22,197119.81,0.91,0.122,3.18,3.82,20120220
000678,襄阳轴承,机械基件,湖北,0.00,42907.98,45961.17,243734.22,99121.81,92665.00,56545.46,1.23,-0.005,2.28,4.48,19970106