In [107]:
from pandas import DataFrame
import numpy as np

## Corr Test

In [108]:
corr_df_data =  DataFrame(np.random.randint(0, 10, size=(5, 5)), columns=['a','b','c','d','e'])
corr_df_data

   a  b  c  d  e
0  2  9  2  4  8
1  5  8  2  8  2
2  3  7  8  9  0
3  8  6  0  1  7
4  0  0  1  1  2

In [109]:
corr_df = corr_df_data.corr()
corr_df

          a         b         c         d         e
a  1.000000  0.440552 -0.230445  0.004336  0.319196
b  0.440552  1.000000  0.271052  0.579667  0.323911
c -0.230445  0.271052  1.000000  0.785601 -0.626466
d  0.004336  0.579667  0.785601  1.000000 -0.575394
e  0.319196  0.323911 -0.626466 -0.575394  1.000000

In [110]:
corr_df.loc['a','b']

0.44055195097215982

In [111]:
corr_df_data.corr(min_periods=6)

    a   b   c   d   e
a NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN
e NaN NaN NaN NaN NaN

##  apply example

In [112]:
apply_df =  DataFrame(np.arange(25).reshape(5,5))
apply_df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [113]:
apply_df.apply(lambda c: np.repeat(c.mean(), len(apply_df)))

      0     1     2     3     4
0  10.0  11.0  12.0  13.0  14.0
1  10.0  11.0  12.0  13.0  14.0
2  10.0  11.0  12.0  13.0  14.0
3  10.0  11.0  12.0  13.0  14.0
4  10.0  11.0  12.0  13.0  14.0

In [114]:
apply_df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [115]:
apply_df.loc[:, :] = apply_df.mean().values

In [116]:
apply_df

      0     1     2     3     4
0  10.0  11.0  12.0  13.0  14.0
1  10.0  11.0  12.0  13.0  14.0
2  10.0  11.0  12.0  13.0  14.0
3  10.0  11.0  12.0  13.0  14.0
4  10.0  11.0  12.0  13.0  14.0

In [117]:
apply_df_peformance = DataFrame(np.random.randint(0, 10**7, size=(10**5, 3)), columns=list('abc'))

In [ ]:
def apply_mean(df):
    x = df.copy()
    return x.apply(lambda c: np.repeat(c.mean(), len(x)))

%timeit apply_mean(apply_df_peformance)

100 loops, best of 3: 10.3 ms per loop

In [ ]:
def splice(df):
    x = df.copy()
    x.loc[:, :] = x.mean().values
    return x
%timeit splice(apply_df_peformance)

## shift and diff example

In [ ]:
shift_df = DataFrame({'data':np.arange(10)})
shift_df

In [ ]:
shift_df['shift_1'] = shift_df.shift(1)
shift_df

In [ ]:
shift_df.shape

In [ ]:
(shift_df.shape[0],shift_df.shape[1])

In [ ]:
shift_df.diff() #different from previous

In [ ]:
shift_df['shift_2'] = shift_df['data'].shift(2)
shift_df

## Test summary

In [ ]:
summary_df = DataFrame(np.arange(12).reshape((3,4)),columns=['a','b','c','d'])
summary_df['a'][0] = np.nan
summary_df

In [ ]:
statics_df = DataFrame()
statics_df['mean'] =summary_df.mean()
statics_df['var'] =summary_df.var()
statics_df