In [29]:
from pandas import DataFrame
import numpy as np

## shift and diff example

In [30]:
shift_df = DataFrame({'data':np.arange(10)})
shift_df

   data
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9

In [31]:
shift_df['shift_1'] = shift_df.shift(1)
shift_df

   data  shift_1
0     0      NaN
1     1      0.0
2     2      1.0
3     3      2.0
4     4      3.0
5     5      4.0
6     6      5.0
7     7      6.0
8     8      7.0
9     9      8.0

In [32]:
shift_df.diff() #different from previous

   data  shift_1
0   NaN      NaN
1   1.0      NaN
2   1.0      1.0
3   1.0      1.0
4   1.0      1.0
5   1.0      1.0
6   1.0      1.0
7   1.0      1.0
8   1.0      1.0
9   1.0      1.0

In [33]:
shift_df['shift_2'] = shift_df['data'].shift(2)
shift_df

   data  shift_1  shift_2
0     0      NaN      NaN
1     1      0.0      NaN
2     2      1.0      0.0
3     3      2.0      1.0
4     4      3.0      2.0
5     5      4.0      3.0
6     6      5.0      4.0
7     7      6.0      5.0
8     8      7.0      6.0
9     9      8.0      7.0