In [49]:
from pandas import DataFrame
import numpy as np

##  apply example

In [50]:
apply_df =  DataFrame(np.arange(25).reshape(5,5))
apply_df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [51]:
apply_df.apply(lambda c: np.repeat(c.mean(), len(apply_df)))

      0     1     2     3     4
0  10.0  11.0  12.0  13.0  14.0
1  10.0  11.0  12.0  13.0  14.0
2  10.0  11.0  12.0  13.0  14.0
3  10.0  11.0  12.0  13.0  14.0
4  10.0  11.0  12.0  13.0  14.0

In [52]:
apply_df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [53]:
apply_df.loc[:, :] = apply_df.mean().values

In [54]:
apply_df

      0     1     2     3     4
0  10.0  11.0  12.0  13.0  14.0
1  10.0  11.0  12.0  13.0  14.0
2  10.0  11.0  12.0  13.0  14.0
3  10.0  11.0  12.0  13.0  14.0
4  10.0  11.0  12.0  13.0  14.0

In [55]:
apply_df_peformance = DataFrame(np.random.randint(0, 10**7, size=(10**5, 3)), columns=list('abc'))

In [56]:
def apply_mean(df):
    x = df.copy()
    return x.apply(lambda c: np.repeat(c.mean(), len(x)))

%timeit apply_mean(apply_df_peformance)

100 loops, best of 3: 6.47 ms per loop

In [57]:
def splice(df):
    x = df.copy()
    x.loc[:, :] = x.mean().values
    return x
%timeit splice(apply_df_peformance)

100 loops, best of 3: 8.28 ms per loop

## shift and diff example

In [58]:
shift_df = DataFrame({'data':np.arange(10)})
shift_df

   data
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9

In [59]:
shift_df['shift_1'] = shift_df.shift(1)
shift_df

   data  shift_1
0     0      NaN
1     1      0.0
2     2      1.0
3     3      2.0
4     4      3.0
5     5      4.0
6     6      5.0
7     7      6.0
8     8      7.0
9     9      8.0

In [60]:
shift_df.shape

(10, 2)

In [61]:
(shift_df.shape[0],shift_df.shape[1])

(10, 2)

In [62]:
shift_df.diff() #different from previous

   data  shift_1
0   NaN      NaN
1   1.0      NaN
2   1.0      1.0
3   1.0      1.0
4   1.0      1.0
5   1.0      1.0
6   1.0      1.0
7   1.0      1.0
8   1.0      1.0
9   1.0      1.0

In [63]:
shift_df['shift_2'] = shift_df['data'].shift(2)
shift_df

   data  shift_1  shift_2
0     0      NaN      NaN
1     1      0.0      NaN
2     2      1.0      0.0
3     3      2.0      1.0
4     4      3.0      2.0
5     5      4.0      3.0
6     6      5.0      4.0
7     7      6.0      5.0
8     8      7.0      6.0
9     9      8.0      7.0

## Test summary

In [64]:
summary_df = DataFrame(np.arange(12).reshape((3,4)),columns=['a','b','c','d'])
summary_df['a'][0] = np.nan
summary_df

     a  b   c   d
0  NaN  1   2   3
1  4.0  5   6   7
2  8.0  9  10  11

In [65]:
statics_df = DataFrame()
statics_df['mean'] =summary_df.mean()
statics_df['var'] =summary_df.var()
statics_df

   mean   var
a   6.0   8.0
b   5.0  16.0
c   6.0  16.0
d   7.0  16.0