In [6]:
import pandas_datareader.data as web
import datetime

In [7]:
start = datetime.datetime(2016, 6, 10)
end = datetime.datetime(2016, 6, 20)

In [8]:
shanghai = web.DataReader('000001.ss', 'yahoo', start, end)
shanghai

               Open     High      Low    Close  Volume  Adj Close
Date
2016-06-13  2833.07  2833.07  2833.07  2833.07       0    2833.07
2016-06-14  2842.19  2842.19  2842.19  2842.19       0    2842.19
2016-06-15  2887.21  2887.21  2887.21  2887.21       0    2887.21
2016-06-16  2872.82  2872.82  2872.82  2872.82       0    2872.82
2016-06-17  2885.10  2885.10  2885.10  2885.10       0    2885.10

In [14]:
smaller = web.DataReader('002177.sz', 'yahoo', start, end)
smaller

             Open   High    Low  Close    Volume  Adj Close
Date
2016-06-10  10.12  10.12  10.12  10.12         0      10.12
2016-06-13   9.88  10.75   9.70   9.70  86678900       9.70
2016-06-14   9.80  10.05   9.44   9.62  75197500       9.62
2016-06-15   9.26  10.10   9.12   9.93  95488200       9.93
2016-06-16   9.81  10.09   9.71   9.79  70165900       9.79
2016-06-17   9.80  10.09   9.53   9.66  58448800       9.66
2016-06-20   9.60   9.66   9.22   9.49  43268100       9.49

In [12]:
new = web.DataReader('300207.SZ', 'yahoo', start, end)
new

             Open   High    Low  Close    Volume  Adj Close
Date
2016-06-10  50.20  50.20  50.20  50.20         0      25.10
2016-06-13  49.00  51.96  48.72  49.02  16703800      24.51
2016-06-14  48.80  50.10  48.02  50.06  10521400      25.03
2016-06-15  49.58  54.86  49.30  54.60  23606500      27.30
2016-06-16  54.20  55.74  53.46  53.80  21016200      26.90
2016-06-17  53.66  54.80  52.30  53.18  14010300      26.59
2016-06-20  53.70  53.72  51.70  52.90  11260200      26.45

In [13]:
shengzhen = web.DataReader('300207.SZ', 'yahoo', start, end)
shengzhen

             Open   High    Low  Close    Volume  Adj Close
Date
2016-06-10  50.20  50.20  50.20  50.20         0      25.10
2016-06-13  49.00  51.96  48.72  49.02  16703800      24.51
2016-06-14  48.80  50.10  48.02  50.06  10521400      25.03
2016-06-15  49.58  54.86  49.30  54.60  23606500      27.30
2016-06-16  54.20  55.74  53.46  53.80  21016200      26.90
2016-06-17  53.66  54.80  52.30  53.18  14010300      26.59
2016-06-20  53.70  53.72  51.70  52.90  11260200      26.45