In [10]:
import pandas_datareader.data as web
import datetime

In [11]:
start = datetime.datetime(2016, 6, 10)
end = datetime.datetime(2016, 6, 20)

In [12]:
shanghai = web.DataReader("000001.ss", 'yahoo', start, end)
shanghai

               Open     High      Low    Close  Volume  Adj Close
Date
2016-06-13  2833.07  2833.07  2833.07  2833.07       0    2833.07
2016-06-14  2842.19  2842.19  2842.19  2842.19       0    2842.19
2016-06-15  2887.21  2887.21  2887.21  2887.21       0    2887.21
2016-06-16  2872.82  2872.82  2872.82  2872.82       0    2872.82
2016-06-17  2885.10  2885.10  2885.10  2885.10       0    2885.10