In [40]:
import pandas_datareader.data as web
import datetime

In [41]:
start = datetime.datetime(2016, 6, 10)
end = datetime.datetime(2016,6, 20)

In [42]:
shanghai = web.DataReader('600000.ss', 'yahoo', start, end)
shanghai.to_json('test1.json')
shanghai

                Open      High       Low     Close    Volume  Adj Close
Date
2016-06-10  17.98995  17.98995  17.98995  17.98995         0   15.83662
2016-06-13  17.86004  17.94001  17.77006  17.77996  33056700   15.65177
2016-06-14  17.77006  17.83001  17.69999  17.78997  20650600   15.66058
2016-06-15  17.61001  17.76005  17.54995  17.74003  28965300   15.61662
2016-06-16  17.66996  17.93000  17.60000  17.79998  33958200   15.66939
2016-06-17  16.13640  16.35450  16.12730  16.15460  19153400   14.22096
2016-06-20  16.30000  16.30000  16.13640  16.22730  10649600   14.28495

In [43]:
smaller = web.DataReader('002177.sz', 'yahoo', start, end)
shanghai.to_json('test1.json')
smaller

             Open   High    Low  Close    Volume  Adj Close
Date
2016-06-10  10.12  10.12  10.12  10.12         0      10.12
2016-06-13   9.88  10.75   9.70   9.70  86678900       9.70
2016-06-14   9.80  10.05   9.44   9.62  75197500       9.62
2016-06-15   9.26  10.10   9.12   9.93  95488200       9.93
2016-06-16   9.81  10.09   9.71   9.79  70165900       9.79
2016-06-17   9.80  10.09   9.53   9.66  58448800       9.66
2016-06-20   9.60   9.66   9.22   9.49  43268100       9.49

In [44]:
new = web.DataReader('300207.SZ', 'yahoo', start, end)
new

             Open   High    Low  Close    Volume  Adj Close
Date
2016-06-10  50.20  50.20  50.20  50.20         0      25.10
2016-06-13  49.00  51.96  48.72  49.02  16703800      24.51
2016-06-14  48.80  50.10  48.02  50.06  10521400      25.03
2016-06-15  49.58  54.86  49.30  54.60  23606500      27.30
2016-06-16  54.20  55.74  53.46  53.80  21016200      26.90
2016-06-17  53.66  54.80  52.30  53.18  14010300      26.59
2016-06-20  53.70  53.72  51.70  52.90  11260200      26.45

In [45]:
shengzhen = web.DataReader('300207.SZ', 'yahoo', start, end)
shengzhen

             Open   High    Low  Close    Volume  Adj Close
Date
2016-06-10  50.20  50.20  50.20  50.20         0      25.10
2016-06-13  49.00  51.96  48.72  49.02  16703800      24.51
2016-06-14  48.80  50.10  48.02  50.06  10521400      25.03
2016-06-15  49.58  54.86  49.30  54.60  23606500      27.30
2016-06-16  54.20  55.74  53.46  53.80  21016200      26.90
2016-06-17  53.66  54.80  52.30  53.18  14010300      26.59
2016-06-20  53.70  53.72  51.70  52.90  11260200      26.45